<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles1.css')}}"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>AGENT-CUSTOMERS</title>
  </head>
  <body>
    {%include 'agent/menu.html'%}

    <section id="interface">
      {%include 'agent/agentNav.html'%}

      <h3 class="i-name">CLIENTS</h3>

      <div class="board">
        <table width="100%">
          <thead class="attributes">
            <tr>
              <td>Client_ID</td>
              <td>Name</td>
              <td>Phone_no</td>
            </tr>
          </thead>
          <tbody>
            {%for client in clients%}
            <tr>
              <td class="property_id">
                <h5>{{client.Client_ID}}</h5>
              </td>

              <td class="name">
                <h5>{{client.Name}}</h5>
              </td>

              <td class="phn-num">
                <h5>{{client.Phone_no}}</h5>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

      <h3 class="i-name">SELLERS</h3>

      <div class="board">
        <table width="100%">
          <thead class="attributes">
            <tr>
              <td>Seller_ID</td>
              <td>Name</td>
              <td>Phone_no</td>
            </tr>
          </thead>
          <tbody>
            {%for seller in sellers%}
            <tr>
              <td class="property_id">
                <h5>{{seller.Seller_ID}}</h5>
              </td>

              <td class="name">
                <h5>{{seller.Name}}</h5>
              </td>

              <td class="phn-num">
                <h5>{{seller.Phone_no}}</h5>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </section>
    <script>
      $("#menu-bar").click(function () {
        $("#menu").toggleClass("active");
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
