<nav class="navbar background1" id="navbar">
  <ul class="nav-list">
    <div class="logo">
      <img
        src="{{url_for('static', filename='images/1.png')}}"
        alt="logo"
        class="logo-img"
      />
    </div>
    <li>
      <a href="{{url_for('home')}}">NIMBUS AURORA</a>
    </li>
  </ul>
  <div class="rightNav">
    <li><a href="{{url_for('home')}}">HOME</a></li>
    <li><a href="{{url_for('aboutUs')}}">ABOUT</a></li>
    <li><a href="{{url_for('contactUs')}}">CONTACT</a></li>
    {%if 'username' in session.keys() and session['type'] == "Agent"%}
    <li>
      <a href="{{url_for('agent', agentID = session['userID'])}}"
        >{{session['username']}}</a
      >
    </li>
    <li>
      <a href="{{url_for('logout')}}">Logout</a>
    </li>
    {%elif 'username' in session.keys() and session['type'] !="Agent"%}
    <li>
      <a href="#"> {{session['username']}} </a>
    </li>
    <li>
      <a href="{{url_for('logout')}}">Logout</a>
    </li>
    {%else%}
    <button class="btnLogin-popup">LOGIN</button>
    {%endif%}
  </div>
</nav>
<style>
  :root {
    --background-url: url("{{url_for('static',filename='images/house3.jpg')}}");
  }
</style>
